<div *ngFor="let story of stories; let i = index" class="story-list"> 
  <div class="story-container">
    <editor [value]="story.text" [class.hide-story]="!story.open" (change)="updateStory($event, i)"></editor>
  </div>
  <div class="story-controls">
    <button class="btn" (click)="saveStory(i)"> Save</button> 
    <button class="btn" (click)="story.open=!story.open"> {{ story.open ? 'Hide': 'Show'}} </button> 
  </div>
</div>

<div class="button-container">
  <button class="btn" (click)="addStory()"> New Story </button> 
</div>
