:host {
    position: absolute;
    height: 100%;
    width: 100%;    
}

.universe-name {
    font-size: 24px;
    margin: 10px 0;
    border: none;
}

.side-bar {
    position: absolute;
    display: inline-block;
    left:0;
    top: 0;

    height: 100%;
    width: 150px;
    background: #1a4a1c;
    box-shadow: 1px 0 10px #1a4a1c;

    padding: 5px 10px;

    text-align: right;
    font-size: 24px;
    color: #20281c;

    cursor: pointer;

    transition: all 0.5s;
}

.side-bar a {
    color: #20281c;
    webkit-tap-highlight-color: none;
}

.side-bar div:focus {
    outline: rgba(0,0,0,0) auto 5px;
}

.side-bar-hidden {
    left: -115px;
}

.content {
    margin: 10px 160px;
    transition: margin 0.5s;
}

.content-full {
    margin: 10px 50px;
}